

body {
    background-image:url("pimages/pattern-kzu1.png");
    font-family: "Open Sans", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:calc(12px + 1vw) ;
    line-height: calc(1.1em + 0.5vw);
    height:100vh;

}

h2 {
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #fff;
    font-size: calc(20px + 1vw);
    line-height: calc(1.1em + 0.5vw);
    }

a {
    color:orange;
}
a:hover {
    text-decoration:none;
}
/**Gridding**/


* {
  box-sizing: border-box;
}


[class*="col-"] {
  float: left;
  padding: 15px;
}
[class*="col-1"] {
  width: 40%;
}

[class*="col-10"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


.internallink ul {
    display:flex;
    flex-direction:row;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    justify-content:center;
    padding:1vw;
    margin-top:1vh;
    margin-bottom:1vh;
}

.container {
    position:relative;
    text-align:center;
    color:white;
   margin: 5px;
   
    
}
.container img {
    object-fit: cover;
    border: 5px double rgb(255, 255, 255); 
    border-radius: 100%; 
    box-shadow: rgb(0, 0, 0) 0px 0px 10px; 
    margin: 0px;
    width: 225px; 
    height: 225px;


}
.container:hover img{
    border-color:orange;
    border-radius:0%;
}
.boxes {
    position:relative;
    text-align:center;
    color:white;
   margin-right: 15px;
   
    
}

.boxes img {
    object-fit: cover;
    border: 5px double rgb(255, 255, 255); 
    border-radius: 100%; 
    box-shadow: rgb(0, 0, 0) 0px 0px 10px; 
    margin: 0px;
    width: 125px; 
    height: 125px;


}

#latest{
    height:200px;
}

object {
    width:100%;
    max-width:90vw;
    height:50vh;
    max-height:100%;
    margin-left:5vw; 
    margin-right:5vw;    
}


.top-left {
    position:absolute;
    top:185px;
    left:80px;
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.internallink li a {
    color: #fff ;
    
    padding: 1vw;
    padding-right:1vw;
    font-size: calc(7px + 1vw);
    text-decoration:none;


}
.internallink a:hover{
    color:orange;
}

.listitem {
    padding: 0px 15px !important;
}
.bshadow {
    box-shadow: 4px 4px 2px #000 !important;
}
img.alignleft {
    margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}

.navbar {
    min-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #39867E;
    background-image: -moz-linear-gradient(top, #39867E, #39867E);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#39867E), to(#39867E));
    background-image: -webkit-linear-gradient(top, #39867E, #39867E);
    background-image: -o-linear-gradient(top, #39867E, #39867E);
    background-image: linear-gradient(to bottom, #39867E, #39867E);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff39867E', endColorstr='#ff39867E', GradientType=0);
    border: 0px solid #d4d4d4;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 13px;
    position: relative;
    z-index: 1000;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    }

img.banner{
max-width:45%;
height:auto;
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    }

    a.gumroad-button {
    background-color: white !important;
    background-image: url(https://gumroad.com/button/button_bar.jpg) !important;
    background-repeat: repeat-x !important;
    border-radius: 4px !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 2px !important;
    color: #999 !important;
    display: inline-block !important;
    font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 50px !important;
    padding: 0 15px !important;
    text-shadow: none !important;
    text-decoration: none !important;
}
.p1 {
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #fff;
    text-align:justify;
    display:block !important;
    font-size: calc(12px + 1vw);
    line-height: calc(1.1em + 0.5vw);

}
.p1 a {
    text-shadow: none;
}

.p2 {
    font-size: calc(8px + 1vw);
}
h1 {
    color: #31998E;
    font-size: calc(36px + 1vw);
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    font-family: "Open Sans", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: calc(1.1em + 0.5vw);
    margin: 0.67em 0;
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.gumroad-button-logo { 
        background-image: url("https://gumroad.com/button/button_logo.png") !important; 
        background-size: cover !important; 
        height: 17px !important; 
        width: 16px !important; 
        display: inline-block !important; 
        margin-bottom: -3px !important; 
        margin-right: 15px !important; 
} 

.gumroad-loading-indicator { 
    background: white; 
    border-radius: 50%; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box; 
    display: none; 
    height: 60px; 
    left: 50% !important; 
    margin-left: -30px !important; 
    margin-top: -30px !important; 
    padding: 10px; 
    position: fixed; 
    top: 50% !important; 
    width: 60px; 
    z-index: 99997; 
}
.gumroad-loading-indicator i { 
    background: url("https://gumroad.com/js/loading-rainbow.svg"); 
    height: 40px; 
    width: 40px; 
    display: inline-block; 
    background-size: contain; 
    animation: gumroad-spin 1.5s infinite linear; 
} 

.gumroad-overlay-iframe { 
    position: fixed !important; 
    overflow: hidden !important; 
    z-index: 99998 !important; 
    top: 0 !important; 
    right: 0 !important; 
    width: 0; 
    height: 0; 
    border: none !important; 
    margin: 0 !important; 
    padding: 0 !important; 
    zoom: 1; 
}

#photography {
    margin-left: calc(1em + 0.5vw);
    font-size:16px;

}
#aboutme {
    margin-left: calc(1em + 0.5vw);
    width:;
}
.authorpic {
    float:left; 
    margin-right:calc(1em + 0.5vw); 
    width:25vw;
    min-width: 150px;
    max-width: 350px;
    height:auto;
}
.about {
    width:100%;
    max-width:90vw;
}

#map {
    margin-left: calc(1em + 0.5vw);
    margin-right: calc(1em + 0.5vw);
}
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}